@charset "utf-8";

#header{box-shadow: 3px 3px 20px rgba(0, 0, 0, .1);}
main{margin-top: 111px; min-height: 500px;}

@media (max-width: 1199px){
  
  main{margin-top: 84px;}

}

@media (max-width: 767px){
  
  main{margin-top: 61px;}

}

/* 공통-서브 영역 */
.contentWrap{padding: 100px 0;}

@media (max-width: 1199px){

  .contentWrap{padding: 50px 0;}

}

/* 공통-상단 */
.subTitleBox{position: relative; height: 535px; overflow: hidden;}
.subTitleBox .subTopImg{height: 100%; overflow: hidden;}
.subTitleBox .subTopImg img{display: block; width: 100%; height: 100%; object-fit: cover; transform: scale(1.5); transition: all 3.5s;}
.subTitleBox .subTopImg.active img{transform: scale(1);}
.subTitleBox .subTopText{position: absolute; top:58.2%; left:0; right: 0;}
.subTitleBox .subTopText h2{margin-bottom: 6px; font-size: 80px; color: #2a2929; line-height: 1.2;}
.subTitleBox .subTopText h2 span{display: inline-block; opacity: 0; transform: translateY(50px); }
.subTitleBox .subTopText h2 span:nth-child(1){transition-delay: .3s;}
.subTitleBox .subTopText h2 span:nth-child(2){transition-delay: .33s;}
.subTitleBox .subTopText h2 span:nth-child(3){transition-delay: .36s;}
.subTitleBox .subTopText h2 span:nth-child(4){transition-delay: .39s;}
.subTitleBox .subTopText h2 span:nth-child(5){transition-delay: .42s;}
.subTitleBox .subTopText h2 span:nth-child(6){transition-delay: .45s;}
.subTitleBox .subTopText h2 span:nth-child(7){transition-delay: .58s;}
.subTitleBox .subTopText h2 span:nth-child(8){transition-delay: .61s;}
.subTitleBox .subTopText h2 span:nth-child(9){transition-delay: .64s;}
.subTitleBox .subTopText h2 span:nth-child(10){transition-delay: .67s;}
.subTitleBox .subTopText h2 span:nth-child(11){transition-delay: .70s;}
.subTitleBox .subTopText h2 span:nth-child(12){transition-delay: .73s;}
.breadcrumbList{opacity: 0; transform: translateY(50px); display: flex; gap: 0 17px; }
.breadcrumbList li{position: relative; color: #2a2929;}
.breadcrumbList li::after{content: ''; width: 7px; height: 1px; position: absolute; top:10px; right:-13px; background-color: #373636;}
.breadcrumbList li:last-child::after{display: none;}
.subTitleBox .subTopText.active h2 span{opacity: 1; transform: translateY(0); transition-duration: 1.3s;}
.subTitleBox .subTopText.active .breadcrumbList{opacity: 1; transform: translateY(0); transition: all 1.3s .5s;}

@media (max-width: 1199px){

  .subTitleBox{height: 397px;}
  .subTitleBox .subTopText{top: 61%;}
  .subTitleBox .subTopText h2{font-size: 55px;}

}

@media (max-width: 767px){
  
  .subTitleBox .subTopImg01{margin-left: -500px;}
  .subTitleBox .subTopText{top: 65%;}
  .subTitleBox .subTopText h2{font-size: 40px;}

}

/* 공통-이미지리스트 */
.imgListBox .imgList{display: flex; gap: 60px 4.17%; flex-wrap: wrap;}
.imgListBox .imgList li{width: 21.87%;}
.imgListBox .imgList li a{position: relative; padding: 0 0 118px 37px; display: block; border: 1px solid #d7d7d7; overflow: hidden; background-color: #fff;}
.imgListBox .imgList li a .imgBox{position: relative; margin-bottom: 38px; width: 100%; height: 227px; overflow: hidden;}
.imgListBox .imgList li a .imgBox img{display: block; width: 100%; height: 100%; object-fit: cover; transition: all 1s;}
.imgListBox .imgList li a .textBox{padding: 0 51px 0 0;}
.imgListBox .imgList li a .textBox .info{display: block; margin-bottom: 13px; color: #0c69f4; font-weight: 500; font-family: 'SpoqaHanSansNeo', sans-serif;}
.imgListBox .imgList li a .textBox .text01{height: 66px; margin-bottom: 12px; font-size: 22px; font-weight: 500; color: #000;
  overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;  -webkit-box-orient: vertical; font-family: 'SpoqaHanSansNeo', sans-serif;}
.imgListBox .imgList li a .textBox .text02{display: block; font-size: 15px; font-weight: 300; color: #000; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-family: 'SpoqaHanSansNeo', sans-serif;}
.imgListBox .imgList li a .textBox .date{position: absolute; left:37px; bottom: 25px; font-size: 13px; color: #757575; font-family: 'SpoqaHanSansNeo', sans-serif;} 
.imgListBox .imgList li a:hover .imgBox img{transform: scale(1.3);}
.imgListBox .imgList li a:hover .textBox .text01{text-decoration: underline;}

@media (max-width: 1199px){

  .imgListBox .imgList{gap: 20px 2%;}
  .imgListBox .imgList li{width: 32%;}
  .imgListBox .imgList li a{padding: 0 0 70px!important;}
  .imgListBox .imgList li a .textBox{padding: 20px 50px 20px 20px;}
  .imgListBox .imgList li a .textBox .date{left:20px;}
  .imgListBox .imgList li a .imgBox{margin: 0;}
  .imgListBox .imgList li a .textBox .text01{height: 60px; font-size: 20px;}

}

@media (max-width: 767px){

  .imgListBox .imgList li{width: 49%;}

}

@media (max-width: 576px){

  .imgListBox .imgList{gap: 20px 0;}
  .imgListBox .imgList li{ width: 100%;}
  .imgListBox .imgList li a .imgBox{height: 0; position: relative; padding-top: 70%;}
  .imgListBox .imgList li a .imgBox img{position: absolute; top:0; left:0; right: 0; bottom: 0;}
  .imgListBox .imgList li a .textBox{padding: 20px;}
  .imgListBox .imgList li a .textBox .text01{height: auto;}

}
     
/* 공통-검색 */
.searchBox{position: relative; margin-bottom: 37px; width: 472px; display: flex; justify-self: flex-end; align-items: center;  border-bottom: 3px solid #323231;}
.searchBox .search{position: relative;}
.searchBox .search .view{display: none; top: 41px; padding: 16px 5px; position: absolute; left:0; right:0; border: 1px solid #272727; background-color: #fff; z-index: 99;}
.searchBox .search .view li a{display: block; font-size: 13px; color: #000; text-align: center;} 
.searchBox .search .view li a:hover{text-decoration: underline;}
.searchBox .search .view li{margin-bottom: 20px;}
.searchBox .search .view li:last-child{margin-bottom: 0;}
.searchBox .inputBox{position: relative; width: 100%;}
.searchBox .inputBox .searchBtn{width: 18px; height: 18px; position: absolute; top: 50%; transform: translateY(-50%); right: 5px; background: url(../images/sub/search_icon.png)no-repeat center; background-size: cover;}
.searchBox .inputBox input{width: 100%; height: 48px; padding: 0 31px 0 20px; font-size: 15px; color: #2a2929; border: 0; background-color: transparent;}
.searchBox .inputBox input::placeholder{color: #2a2929;}
.searchBox .search > a.active + .view{display: block;}
.searchBox .search > a{display: flex; align-items: center; height: 48px; padding: 0 0 0 10px; position: relative;  width: 113px; font-weight: 700; font-family: 'SpoqaHanSansNeo', sans-serif; color: #2a2929;}
.searchBox .search > a::after{content: ''; width: 12px; height: 8px; position: absolute; right: 12px; top:50%; transform: translateY(-50%); background: url(../images/sub/arrow_icon01.png)no-repeat center; background-size: cover;}
.searchBox .search > a.active::after{transform: translateY(-50%) rotate(-180deg);}

/* 공통-페이지네이션 */
.paginationWrap {margin: 90px 0 35px; display: flex; justify-content: center;}
.paginationWrap .paginationBox{ display: flex; flex-wrap: wrap; gap: 0 12px; align-items: center;}
.paginationWrap .pageLink{padding: 11px 6px; position: relative; font-size: 16px; color: #333; line-height: 1;}
.paginationWrap .pageLink.active::after{content: ''; position: absolute; left:0; right:0; bottom: 0; height: 2px; background-color: #333;}
.paginationWrap .pageLink.active {font-weight: 700;}

@media (max-width: 1199px){

    .paginationWrap{margin: 70px 0 35px; }

}

/* 공통-상세페이지 */
.detailWrap .detailBox{display: flex; gap: 0 258px; justify-content: space-between;}
.detailWrap .titleBox{flex-shrink: 0;}
.detailWrap .titleBox h2{font-weight: 700; color: #2a2929; font-size: 50px;}
.detailWrap .titleBox .breadcrumbList{opacity: 1; transform: none;}
.detailWrap .detailContentBox .detailTop{padding: 0 0 28px; border-bottom: 2px solid #000;}
.detailWrap .detailContentBox .detailTop .imgBox{margin-bottom: 2.66vw;}
.detailWrap .detailContentBox .detailTop .imgBox img{display: block; width: 100%;}
.detailWrap .detailContentBox .detailTop .textBox h3{margin-bottom: 8px; font-family: 'SpoqaHanSansNeo', sans-serif; font-weight: 500; font-size: 26px;} 
.detailWrap .detailContentBox .detailTop .textBox .date{display: block; font-size: 13px; color: #000;}
.detailWrap .detailContentBox .detailFileDown{padding-left: 17px; border-bottom: 1px solid #ababab;}
.detailWrap .detailContentBox .detailFileDown .down{display: inline-block;}
.detailWrap .detailContentBox .detailFileDown .down span{position: relative; display: flex; gap: 0 13px; align-items: center; height: 77px;  font-family: 'SpoqaHanSansNeo', sans-serif; color: #0c69f4;}
.detailWrap .detailContentBox .detailFileDown .down span::before{content: ''; width: 34px; height: 34px; background: url(../images/sub/file_icon.png)no-repeat; background-size: cover;}
.detailWrap .detailContentBox .detailContent{padding: 3.65vw 0 0;}
.detailWrap .detailContentBox .detailContent .textBox p{margin-bottom: 30px; font-weight: 300; color: #000; line-height: 2.1; font-family: 'SpoqaHanSansNeo', sans-serif;}
.detailWrap .detailContentBox .detailContent .imgBox img{display: block; width: 100%;}
.detailWrap .btnBox{display: flex; justify-content: flex-end; margin: 40px 0 20px;}
.btnBox .link{position: relative; padding: 3px 0 0 15px; width: 132px; height: 34px; display: flex; align-items: center; font-size: 11px; color: #171717; border: 1px solid #2f2f2f;}
.btnBox .link::after{content: ''; position: absolute; top:11px; right:11px; width: 19px; height: 10px; background: url(../images/sub/arrow_icon02.png)no-repeat center; background-size: cover;}

@media (max-width: 1199px){

  .detailWrap .detailBox{gap: 0 130px;}
  .detailWrap .titleBox h2{font-size: 40px;}
  .detailWrap .titleBox .breadcrumbList li{font-size: 14px;}
  .detailWrap .detailContentBox .detailTop .textBox h3{font-size: 22px;}
  .detailWrap .detailContentBox .detailFileDown .down span{height: 60px;}

}

@media (max-width: 1024px){

  .detailWrap .detailBox{display: block;}
  .detailWrap .titleBox{margin-bottom: 35px; text-align: center;}
  .detailWrap .titleBox h2{font-size: 30px;}
  .detailWrap .titleBox .breadcrumbList{justify-content: center;}
  .detailWrap .detailContentBox .detailTop .textBox h3{font-size: 20px;}

}

/* 소개 */ 
.aboutWrap .TopTitle{padding: 50px 0 94px; text-align: center;}
.aboutWrap .TopTitle h4{font-size: 46px; font-weight: 700; color: #000;}
.aboutWrap .TopTitle span{display: block; margin-bottom: 35px; font-size: 30px; font-weight: 500; color: #000;}
.aboutWrap .TopTitle p{font-weight: 300; color: #000; line-height: 2.2; font-size: 18px; font-family: 'SpoqaHanSansNeo', sans-serif; word-break: keep-all;}
.aboutWrap .TopTitle p em{display: block; margin-bottom: 10px;} 
.aboutWrap .imgBox img{display: block; width: 100%;}
.aboutWrap .infoBox01 .box{display: flex; padding: 71px 0 67px; border-bottom: 2px solid #000;}
.aboutWrap .infoBox01 .img{flex-shrink: 0;}
.aboutWrap .infoBox01 .img img{display: block; max-width: 538px; width: 100%;}
.aboutWrap .infoBox01 .text{padding: 8.04vw 0 0;}
.aboutWrap .infoBox01 .text h4{margin-bottom: 10px; font-weight: 700; font-size: 46px; color: #000;}
.aboutWrap .infoBox01 .text p{font-weight: 300; font-size: 18px; color: #000; line-height: 2; font-family: 'SpoqaHanSansNeo', sans-serif; word-break: keep-all;}
.aboutWrap .infoBox01 .text p em{display: block; margin-bottom: 15px;}
.aboutWrap .infoBox02{padding: 124px 0 50px;}
.aboutWrap .infoBox02 h4{margin-bottom: 60px; text-align: center; font-family: 'SpoqaHanSansNeo', sans-serif; font-weight: 700; color: #000; font-size: 26px;}
.aboutWrap .infoBox02 .infoList{display: flex; flex-wrap: wrap; justify-content: center; gap: 60px 116px;}
.aboutWrap .infoBox02 .infoList li{ position: relative; display: flex; gap: 26px 0; flex-direction: column;}
.aboutWrap .infoBox02 .infoList li::before{content: ''; padding: 162px 162px 0 0;}
.aboutWrap .infoBox02 .infoList li.icon01::before{background: url(../images/sub/about_icon01.png)no-repeat center; background-size: auto 100%;}
.aboutWrap .infoBox02 .infoList li.icon02::before{background: url(../images/sub/about_icon02.png)no-repeat center; background-size: auto 100%;}
.aboutWrap .infoBox02 .infoList li.icon03::before{background: url(../images/sub/about_icon03.png)no-repeat center; background-size: auto 100%;}
.aboutWrap .infoBox02 .infoList li.icon04::before{background: url(../images/sub/about_icon04.png)no-repeat center; background-size: auto 100%;}
.aboutWrap .infoBox02 .infoList li.icon05::before{background: url(../images/sub/about_icon05.png)no-repeat center; background-size: auto 100%;}
.aboutWrap .infoBox02 .infoList li h5{text-align: center; font-family: 'SpoqaHanSansNeo', sans-serif; font-weight: 300; font-size: 15px; color: #000; line-height: 1.3;}

@media (max-width: 1480px){

  .aboutWrap .infoBox02 .infoList{max-width: 800px; margin: 0 auto;}

}

@media (max-width: 1199px){

  .aboutWrap .TopTitle{padding: 40px 0 80px;}
  .aboutWrap .TopTitle h4{font-size: 35px;}
  .aboutWrap .TopTitle span{font-size: 20px;}
  .aboutWrap .TopTitle p{line-height: 1.8;}

  .aboutWrap .infoBox01 .text h4{font-size: 35px;}

  .aboutWrap .infoBox02{padding: 65px 0 30px;}
  .aboutWrap .infoBox02 .infoList li::before{padding: 140px 140px 0 0;}
  .aboutWrap .infoBox02 .infoList li{gap: 15px 0;}
  .aboutWrap .infoBox02 h4{font-size: 22px;}
  
}

@media (max-width: 1024px){

  .aboutWrap .infoBox01 .box{display: block;}
  .aboutWrap .infoBox01 .img img{margin: 0 auto;}
  .aboutWrap .infoBox01 .text{text-align: center;}

}

@media (max-width: 767px){

  .aboutWrap .TopTitle{padding: 25px 0 50px;}
  .aboutWrap .TopTitle h4{font-size: 25px;}
  .aboutWrap .TopTitle span{margin-bottom: 23px; font-size: 16px;}
  .aboutWrap .TopTitle p{font-size: 16px;}
  .aboutWrap .infoBox01 .text h4{font-size: 25px;}
  .aboutWrap .infoBox01 .text p{font-size: 16px;}
  .aboutWrap .infoBox02 h4{font-size: 20px;}
  .aboutWrap .infoBox02 .infoList li{gap: 10px 0;}
  .aboutWrap .infoBox02 .infoList li::before{padding: 120px 120px 0 0;}

}

@media (max-width: 576px){

  .aboutWrap .imgBox{position: relative;}
  .aboutWrap .imgBox img{position: absolute; width: 800px; top:0; left:50%; margin-left: -400px; bottom: 0;}
  .aboutWrap .infoBox01{margin-top: 130px;}
  
}

/* 뉴스 */
.newsWrap{margin-top: -252px;}

@media (max-width: 1199px){

  .newsWrap{margin-top: 0;}

}

@media (max-width: 576px){

  .searchBox{max-width: 460px; width: 100%; margin: 0 auto 50px;}

}

/* 자원 */
.imgListBox02 .imgList li a{padding: 0 0 88px 37px;}
.imgListBox02 .imgList li a .imgBox{margin-bottom: 32px; height: 307px;}

@media (max-width: 1199px){

  .imgListBox02 .imgList li a .imgBox{margin-bottom: 0;}

}

/* 해결 */
.solutionsWrap .titleBox{margin-left: 47%;}
.solutionsWrap .titleBox h3{font-size: 90px; color: #000; } 
.solutionsWrap .solutionsTopBox{margin-bottom: 63px;}
.solutionsWrap .solutionsTopBox .solutionsTop{display: flex;}
.solutionsWrap .solutionsTopBox .solutionsTop .imgBox img{display: block; width: 100%;}
.solutionsWrap .solutionsTopBox .solutionsTop .textBox{padding: 56px 0 0;}
.solutionsWrap .solutionsTopBox .solutionsTop .textBox .title{margin-bottom: 11px; font-family: 'SpoqaHanSansNeo', sans-serif; font-weight:700; color: #000; font-size: 32px; letter-spacing: -2px;}
.solutionsWrap .solutionsTopBox .solutionsTop .textBox .text{font-family: 'SpoqaHanSansNeo', sans-serif; font-weight: 300; color: #000; line-height: 2.2;}
.solutionsWrap .solutionsTopBox .solutionsTop .textBox .text span{display: block; margin-bottom: 13px;}
.solutionsWrap .casesBox{display: flex; gap: 0 56px; margin-left: 31.2%;}
.solutionsWrap .casesBox .casesLeft{flex-shrink: 0; padding: 239px 0 0;}
.solutionsWrap .casesBox .casesLeft .titleBox{margin:0 0 17px;}
.solutionsWrap .casesBox .casesLeft .titleBox .title{font-size: 60px; color: #000; }
.solutionsWrap .casesBox .casesRight .casesSlide .swiper-slide{width: auto; margin-right: 79px;}
.solutionsWrap .casesBox .casesRight .casesSlide a:hover img{transform: scale(1.3);}
.solutionsWrap .casesBox .casesRight .casesSlide a{display: block; }
.solutionsWrap .casesBox .casesRight .casesSlide a .imgBox{overflow: hidden;}
.solutionsWrap .casesBox .casesRight .casesSlide a .imgBox img{display: block; width: 100%; height: 100%; object-fit: cover; transition: all 1s;}
.solutionsWrap .casesBox .casesRight .casesSlide a .textBox{padding: 32px 0 0 19px;}
.solutionsWrap .casesBox .casesRight .casesSlide a .textBox h4{margin-bottom: 6px; font-size: 24px; color: #000;}
.solutionsWrap .casesBox .casesRight .casesSlide a .textBox p{color: #000;}
.solutionsWrap .popup{display: none; max-width: 1170px; width: 100%; max-height: calc(100% - -13px); padding: 20px; position: fixed; top:50%; left:50%; transform: translate(-50%, -50%); z-index: 99999; overflow-y: auto;}
.solutionsWrap .popup h4{margin-bottom: 12px; font-weight: 700; color: #fff; font-size: 36px;}
.solutionsWrap .popup p{margin-bottom: 32px; font-weight: 500; color: #fff;}
.solutionsWrap .popup .imgBox{position: relative; width: 100%; height: 0; padding-top: 67.4%; }
.solutionsWrap .popup .imgBox img{position: absolute; top:0; left:0; right:0; bottom: 0; display: block; width: 100%; height: 100%; object-fit: cover;}
.solutionsWrap .popup .control{position: absolute; top:75px; right:20px; display: flex; gap: 0 1px; align-items: center; z-index: 99;}
.solutionsWrap .popup .control button{cursor: pointer;}
.solutionsWrap .popup .control .prevBtn,
.solutionsWrap .popup .control .nextBtn{position: relative; display: block; width: 50px; height: 50px; background-color: #fff;}
.solutionsWrap .popup .control .prevBtn::before{content: ''; padding: 20px 12px 0 0;  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-image: url(../images/common/arrow_icon.png); background-repeat: no-repeat; background-size: 100% auto;}
.solutionsWrap .popup .control .nextBtn::before{content: ''; padding: 20px 12px 0 0;  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(180deg); background-image: url(../images/common/arrow_icon.png); background-repeat: no-repeat; background-size: 100% auto;}
.solutionsWrap .popup .control .closeBtn{position: relative; display: block; width: 50px; height: 50px; border: 1px solid #fff;}
.solutionsWrap .popup .control .closeBtn::after{content: ''; padding: 20px 20px 0 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: url(../images/common/close_icon02.png); background-repeat: no-repeat; background-size: 100% auto; }
.solutionsWrap .bg{display: none; position: fixed; top:0; left:0; right:0; bottom: 0; background-color: rgba(0,0,0, 87%); z-index: 999;}
.solutionsWrap .popup .control .count{margin-right: 17px; font-size: 22px; color: #fff;}
.solutionsWrap .popup .control .count .currentSlide{font-weight: 500;}

@media (max-width: 1199px){

  .solutionsWrap .titleBox{padding: 0 20px; margin: 0 0 25px;}
  .solutionsWrap .titleBox h3{font-size: 45px; text-align: left;} 
  .solutionsWrap .solutionsTopBox .solutionsTop{gap: 0 50px;}
  .solutionsWrap .solutionsTopBox .solutionsTop .textBox{padding: 30px 0 0; width: 100%;}
  .solutionsWrap .solutionsTopBox .solutionsTop .textBox .title{font-size: 25px;}

  .solutionsWrap .casesBox .casesRight .casesSlide .swiper-slide{margin-right: 30px;}
  .solutionsWrap .btnBox{margin-left: 0;}
  .solutionsWrap .casesBox .casesLeft .titleBox{padding: 0;}
  .solutionsWrap .casesBox .casesLeft .titleBox .title{font-size: 45px;}
  .solutionsWrap .casesBox{margin-left: 0; padding: 0 0 0 20px;}
  .solutionsWrap .casesBox .casesRight .casesSlide a .textBox{padding: 20px 0 0;}
  .solutionsWrap .casesBox .casesRight .casesSlide a .textBox h4{font-size: 20px;}

  .solutionsWrap .popup .control{top: 55px;}
  .solutionsWrap .popup .control .count{margin-right: 10px; font-size: 20px;}
  .solutionsWrap .popup h4{margin-bottom: 7px; font-size: 32px;}
  .solutionsWrap .popup p{margin-bottom: 22px;}
 
}

@media (max-width: 767px){

  .solutionsWrap .titleBox h3{font-size: 30px;} 
  .solutionsWrap .solutionsTopBox .solutionsTop .textBox .title{font-size: 20px;}
  .solutionsWrap .solutionsTopBox .solutionsTop .textBox .text{font-size: 14px;}
  .solutionsWrap .solutionsTopBox .solutionsTop{display: block;}

  .solutionsWrap .casesBox{display: block;}
  .solutionsWrap .casesBox .casesLeft .titleBox .title{font-size: 30px;}
  .solutionsWrap .casesBox .casesLeft{padding: 0; margin-bottom: 30px;}
  .solutionsWrap .casesBox .casesRight .casesSlide a .textBox h4{font-size: 18px;}

  .solutionsWrap .popup .control{margin-top: 20px; position: static;}
  .solutionsWrap .popup .control .closeBtn{position: fixed; top:0; right:20px; z-index: 999; border: 0;}
  .solutionsWrap .popup h4{ font-size: 26px;}

  .solutionsWrap .popup .control .prevBtn,
  .solutionsWrap .popup .control .nextBtn{width: 40px; height: 40px;}
  .solutionsWrap .popup .control .prevBtn::before,
  .solutionsWrap .popup .control .nextBtn::before{padding: 16px 9px 0 0;}
  .solutionsWrap .popup .control .closeBtn{width: 40px; height: 40px;}
  .solutionsWrap .popup .control .closeBtn::after{padding: 15px 15px 0 0;}
  .solutionsWrap .popup .control .count{margin-right: 10px; font-size: 18px;}

}

@media (max-width: 414px){

  .solutionsWrap .casesBox{padding: 0 20px;}
  .solutionsWrap .casesBox .casesRight .casesSlide .swiper-slide{margin-right: 0;}

}

/* 제품 */
.productWrap .tab{padding: 0 20px; margin-bottom: 74px; display: flex; gap: 0 20px; justify-content: center;}
.productWrap .tab li a{display: block; padding: 11px 6px; width: 350px; border: 1px solid #c1c1c1; text-align: center; border-radius: 15px; font-size: 18px; color: #000;}
.productWrap .tab li a.active{font-weight: 700; border: 1px solid #0c69f4; color: #0c69f4;}
.productWrap .productTab{max-width: 1860px; width: 100%; padding: 0 20px; margin-bottom: 76px; display: flex; justify-content: center; gap: 0 7%;}
.productWrap .productTab li a{ display: flex; gap: 0 23px;}
.productWrap .productTab li a .imgBox img{display: block;}
.productWrap .productTab li a .textBox{padding-top: 58px; position: relative; }
.productWrap .productTab li a .textBox h3{margin-bottom: 3px; font-size: 20px; color: #000; font-family: 'SpoqaHanSansNeo', sans-serif; letter-spacing: -1px;}
.productWrap .productTab li a .textBox p{font-size: 14px; font-weight: 300; color: #000;}
.productWrap .productTab li a .text{position: absolute; top:18px; left:-36px; width: 127px; height: 30px; line-height: 30px; border: 1px solid #bcbcbc; text-align: center; font-weight: 500; color: #282828; background-color: #fff;}
.productWrap .productTab li a .text span{font-size: 16px; font-weight: 400;}
.productWrap .productTab li a.active .text{background-color: #0c69f4; color: #fff; border: 0;}
.productWrap .productTabContent .productLayoutBox{display: flex; gap: 0 60px;}
.productWrap .productTabContent{position: relative; padding: 80px 0 0; z-index: 1;}
.productWrap .productTabContent::after{content: ''; position: absolute; top:0; left:0; right:0; height: 396px; background-color: #f7f7f8; z-index: -1;}
.productWrap .productTabContent .imgBox{width: 107.8%;}
.productWrap .productTabContent .imgBox .img{position: relative; padding-top: 126.66%; height: 0; border: 1px solid #d0d0d0;}
.productWrap .productTabContent .imgBox .img img{display: block; position: absolute; top: 0; left:0; right:0; bottom: 0; width: 100%; height: 100%; object-fit: cover;}
.productWrap .productTabContent .infoText{position: relative; width: 100%;}
.productWrap .productTabContent .infoText .productList01{border-top: 3px solid #090909;}
.productWrap .productTabContent .infoText .productList01 li{border-bottom: 1px solid #b5b5b5;}
.productWrap .productTabContent .infoText .productList01 li h3 a{position: relative; display: block; padding: 16px 0; font-weight: 700; color: #000; background-color: #fff;}
.productWrap .productTabContent .infoText .productList01 li h3 a::after{content: ''; padding: 12px 20px 0 0; position: absolute; top: 50%; transform: translateY(-50%); right:21px; background-image: url(../images/sub/arrow_icon03.png); background-size: 100% auto; background-repeat: no-repeat;}
.productWrap .productTabContent .infoText .productList01 li h3.active a::after{background-image: url(../images/sub/arrow_icon04.png);}
.productWrap .productTabContent .infoText .productList01 li h3.active + .productTable{display: block;}
.productWrap .productTabContent .infoText .productList01 li .productTable{margin-bottom: -1px; display: none; width: 100%;}
.productWrap .productTabContent .infoText .productList01 li .productTable tbody tr th,
.productWrap .productTabContent .infoText .productList01 li .productTable tbody tr td{font-family: 'SpoqaHanSansNeo', sans-serif; border: 1px solid #b5b5b5; border-width: 1px 0;}
.productWrap .productTabContent .infoText .productList01 li .productTable tbody tr th{padding: 17px 10px 18px 24px; background-color: #f7f7f7; color: #000; word-break: keep-all;}
.productWrap .productTabContent .infoText .productList01 li .productTable tbody tr td{padding: 17px 0 18px 21px; font-weight: 300; color: #000; background-color: #fff;}
.productWrap .productTabContent .infoText .top{position: relative;}
.productWrap .productTabContent .infoText .top .titleBox em{margin-bottom: 12px; padding: 0 0 0 19px; display: block; width: 178px; height: 38px; line-height: 40px; border-radius: 15px 0 0 0; background-color: #0c69f4; color: #fff; font-weight: 700; font-size: 34px;}
.productWrap .productTabContent .infoText .top .titleBox em span{font-size: 26px; font-weight: 500;}
.productWrap .productTabContent .infoText .top .titleBox .box{margin:0 0 23px 18px; display: flex; align-items: center; gap: 0 10px;}
.productWrap .productTabContent .infoText .top .titleBox .box h3{font-size: 26px; font-weight: 500; color: #000;}
.productWrap .productTabContent .infoText .top .titleBox .box span{padding-top: 3px; font-size: 18px; color: #000;}
.productWrap .productTabContent .infoText .top .infoList{margin-bottom: 41px;}
.productWrap .productTabContent .infoText .top .infoList li{position: relative; padding-left: 18px; margin-bottom: 9px; font-weight: 300; color: #000;}
.productWrap .productTabContent .infoText .top .infoList li:last-child{margin-bottom: 0;}
.productWrap .productTabContent .infoText .top .infoList li::before{content: ''; position: absolute; top:11px; left:0; width: 3px; height: 1px; background-color: #424242;}
.productWrap .productTabContent .infoText .downLoad{padding: 0 0 0 26px; position: absolute; right: 0; bottom: 0; width: 151px; height: 38px; line-height: 38px; border-radius: 50px; background-color: #0c69f4; font-size: 15px; font-weight: 500; color: #fff;}
.productWrap .productTabContent .infoText .downLoad::after{content: ''; position: absolute; top:9px; right:24px; padding: 18px 18px 0 0; background-image: url(../images/sub/download_icon.png); background-repeat: no-repeat; background-size: 100% auto;}
.productWrap .productTabContent .control{position: absolute; bottom: 0; right:0; display: flex;  align-items: center; gap: 0 1px; z-index: 999;}
.productWrap .productTabContent .control button{position: relative; display: block; width: 50px; height: 50px; border: 1px solid #212121; background-color: #fdfcfc;}
.productWrap .productTabContent .control button::after{content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 20px 12px 0 0; }
.productWrap .productTabContent .control button.prevBtn::after{background: url(../images/sub/arrow_icon05.png); background-repeat: no-repeat; background-size: 100% auto;}
.productWrap .productTabContent .control button.nextBtn::after{background: url(../images/sub/arrow_icon05.png); background-repeat: no-repeat; background-size: 100% auto; transform: translate(-50%, -50%) rotate(180deg);}
.productWrap .productTabContent .control .count{margin-right: 19px;}
.productWrap .productTabContent .control .count span{font-size: 22px; color: #000;}
.productWrap .productTabContent .control .count .currentSlide{font-weight: 500;}

@media (max-width: 1199px){

  .productWrap .productTabContent .infoText .top .titleBox em{font-size: 30px;}
  .productWrap .productTabContent .infoText .top .titleBox em span{font-size: 22px;}
  .productWrap .productTabContent .infoText .top .titleBox .box h3{font-size: 22px;}
  .productWrap .productTabContent .infoText .top .titleBox .box span{font-size: 16px;}
  .productWrap .productTabContent .infoText .productList01 li h3 a{font-size: 16px;}

  .productWrap .productTab{flex-wrap: wrap; gap: 50px 2%;}
  .productWrap .productTab li{width: 48%;}
  .productWrap .productTab li a{justify-content: center;}

  .productWrap .tab li{flex: 1;}
  .productWrap .tab li a{width: 100%; font-size: 16px; border-radius: 8px;}

}

@media (max-width: 1024px){

  .productWrap .productTabContent .productLayoutBox{display: block;}  
  .productWrap .productTabContent .imgBox{width: 100%;}
  .productWrap .productTabContent .infoText{margin: 40px 0 0;}
  .productWrap .productTabContent .infoText .top .titleBox em{margin-bottom: 20px;}
  .productWrap .productTabContent .infoText .top{margin-bottom: 30px;}
  .productWrap .productTabContent .infoText .downLoad{position: relative; display: block;}
  .productWrap .tab li a{width: 100%; font-size: 14px;}

}

@media (max-width: 767px){

  .productWrap .productTabContent .infoText{margin: 22px 0 0}
  .productWrap .productTabContent .infoText .top .titleBox em{margin-bottom: 14px; font-size: 26px;}
  .productWrap .productTabContent .infoText .top .titleBox em span{font-size: 18px;}
  .productWrap .productTabContent .infoText .top .titleBox .box{margin: 0 0 16px 18px; flex-direction: column; align-items: flex-start;}
  .productWrap .productTab{margin-bottom: 56px;}
  .productWrap .productTabContent{padding: 56px 0 0;}
  .productWrap .tab{gap: 0 10px;}

}

@media (max-width: 576px){

  .productWrap .productTab li a{flex-direction: column; align-items: center;}
  .productWrap .productTab li a .text{position: static; margin: 0 auto 10px; width: 100%;}
  .productWrap .productTab li a .textBox{padding-top:30px;}
  .productWrap .tab{flex-direction: column; gap: 10px;}

}

/* 문의 */
.contactWrap .contactBox{padding-top: 103px; position: relative; margin-top: -174px; background-color: #fff; z-index: 9;}
.contactWrap .top p{margin-bottom: 50px; padding-left: 6px; font-size: 22px; font-weight: 500; color: #1c1c1c; line-height: 2;}
.contactWrap .top .infoList{margin-bottom: 74px;} 
.contactWrap .top .infoList li{padding-left: 51px; position: relative; margin-bottom: 40px;}
.contactWrap .top .infoList li::before{content: ''; position: absolute; top: -6px; left:0; width: 36px; height: 36px;}
.contactWrap .top .infoList li.email::before{background: url(../images/sub/email_icon03.png)no-repeat center; background-size: cover;}
.contactWrap .top .infoList li.phone::before{background: url(../images/sub/phone_icon03.png)no-repeat center; background-size: cover;}
.contactWrap .top .infoList li.address::before{background: url(../images/sub/address_icon01.png)no-repeat center; background-size: cover;}
.contactWrap .top .infoList li:last-child{margin-bottom: 0;}
.contactWrap .top .infoList li span{flex-shrink: 0; font-size: 15px; font-weight: 500; color: #1c1c1c;}
.contactWrap .top .infoList li em{font-size: 15px; color: #1c1c1c;}
.contactWrap .top .infoList li::after{content: ''; position: absolute; top:8px; right:-35px; width: 1px; height: 6px; background-color: #2a2a2a;}
.contactWrap .top .infoList li:last-child::after{display: none;}
.contactWrap .map{margin-bottom: 50px; height: 589px;}
.contactWrap .map iframe{width: 100%; height: 100%;}
.contactWrap .map img{display: block; width: 100%; height: 100%; object-fit: cover;}
.contactWrap .questionBox{display: flex; gap: 0 125px;}
.contactWrap .questionBox .questionTitle{flex-shrink: 0; text-transform: uppercase;}
.contactWrap .questionBox .questionTitle span{display: block; margin-bottom: 5px; color: #000;}
.contactWrap .questionBox .questionTitle h3{font-weight: 500; font-size: 50px; color: #000; line-height: 1.1;}
.contactWrap .questionBox .questionTitle h3 strong{font-weight: 700;}
.contactWrap .questionBox .questionList{border-top: 2px solid #000;}
.contactWrap .questionBox .questionList li{border-bottom: 1px solid #ababab;}
.contactWrap .questionBox .questionList .questionText .view{padding: 22px 22px 0 0; position: absolute; top: 50%; right:0; transform: translateY(-50%); background-image: url(../images/sub/view_icon.png); background-repeat: no-repeat; background-size: auto 100%;} 
.contactWrap .questionBox .questionList .questionText{display: block; position: relative; padding: 26px 66px 26px 30px; }
.contactWrap .questionBox .questionList .questionText.active + .answerTextBox{display: block;}
.contactWrap .questionBox .questionList .answerTextBox{display: none; padding: 0 20px 70px 30px;}
.contactWrap .questionBox .questionList .questionText span{position: relative; display: flex; gap: 0 9px;  font-size: 22px; font-weight: 700; color: #202020;}
.contactWrap .questionBox .questionList .questionText span::before{align-self: flex-start; margin-top: 7px; content: ''; padding: 16px 27px 0 0; background-image: url(../images/sub/question_icon.png); background-repeat: no-repeat; background-size: 100% auto;}
.contactWrap .questionBox .questionList .answerText{ display: flex; gap: 0 9px; position: relative; font-weight: 300; color: #202020; line-height: 2.3;}
.contactWrap .questionBox .questionList .answerText::before{margin-top: 10px; content: ''; padding: 16px 26px 0 0; background-image: url(../images/sub/answer_icon.png); background-repeat: no-repeat; background-size: 100% auto;}
.contactWrap .questionBox .questionList .answerText .closeBtn{position: absolute; bottom: -45px; right:0; padding: 22px 22px 0 0; background-image: url(../images/sub/close_icon.png); background-repeat: no-repeat; background-size: 100% auto;}

 @media (max-width: 1199px){

  .contactWrap .contactBox{padding-top: 76px; margin-top: -89px;}
  .contactWrap .map{height: 430px; margin-bottom: 100px;}
  .contactWrap .questionBox .questionTitle h3{font-size: 30px;}
  .contactWrap .questionBox{gap: 0 80px;}
  .contactWrap .questionBox .questionList .questionText span{font-size: 20px;}
  .contactWrap .questionBox .questionList .questionText span::before{margin-top: 4px;}
  .contactWrap .questionBox .questionList .answerText::before{margin-top: 8px;}

 }

 @media (max-width: 1024px){

  .contactWrap .top .infoList{flex-direction: column; align-items: center; gap: 10px 0;}
  .contactWrap .top .infoList li::after{display: none;}
  .contactWrap .map{margin-bottom: 80px;}
  .contactWrap .questionBox{flex-direction: column; gap: 30px 0;}
  
 }

 @media (max-width: 767px){

  .contactWrap .map{margin-bottom: 50px;}
  .contactWrap .contactBox{padding-top: 56px;}
  .contactWrap .questionBox{gap: 20px 0;}
  .contactWrap .questionBox .questionTitle h3{font-size: 20px;}
  .contactWrap .questionBox .questionList .questionText span{font-size: 18px;}
  .contactWrap .questionBox .questionList .questionText span::before{padding: 16px 25px 0 0;}
  .contactWrap .questionBox .questionList .questionText{padding: 26px 43px 26px 20px;}
  .contactWrap .questionBox .questionList .answerTextBox{padding: 0 20px 70px 20px;}
  .contactWrap .top p{padding: 0 20px; font-size: 18px;}
  .contactWrap .top p br{display: none;}

 }